/* reset.css 넣기
    reset.css와 비슷한 것 -> normalize.css
    normalize. css :같은 크기로 margin,padding 등 설정해줌
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap');
@import "reset.css";
@import "status-bar.css";
@import "header.css";
@import "nav-bar.css";

*{
    box-sizing: border-box;
}

body{
    background-color: white;
    padding: 10px 20px;
    color: #1a1a1a;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

a{
    color: inherit;
}